@model RegistrationModel

@section Scripts{
    <script asp-src-include="~/js/JqueryValidation/*.min.js"></script>
}

<h1>Регистрация</h1>

<form asp-action="Registration" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
        <div class="form-group">
        <label asp-for="UserName"></label>
        <div><span asp-validation-for="UserName" class="text-danger"></span></div>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Pass1"></label>
        <div><span asp-validation-for="Pass1" class="text-danger"></span></div>
        <input asp-for="Pass1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Pass2"></label>
        <div><span asp-validation-for="Pass2" class="text-danger"></span></div>
        <input asp-for="Pass2" class="form-control" />
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Регистрация</button>
    <a class="btn btn-danger fa fa-google" asp-action="ExternalLogin" asp-route-returnUrl="/" asp-route-authType="Google"> Войти через Google</a>
    <a class="btn btn-primary fa fa-vk" asp-action="ExternalLogin" asp-route-returnUrl="/" asp-route-authType="Vkontakte"> Войти через Вконтакте</a>
    <a class="btn btn-primary fa fa-facebook" asp-action="ExternalLogin" asp-route-returnUrl="/" asp-route-authType="Facebook"> Войти через Facebook</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-default">Отмена</a>
</form>

