@section Scripts{
    <script src="~/js/products.js"></script>
}

<h2>Инновационные продукты</h2>

<input class="form-control" type="text" placeholder="Введите название продукта или одно из его свойств классификации" id="patternInput">
<hr>
<table class="table table-striped table-hover" id="productsTable">
    <tr>
        <th>Название продукта:</th>
        <th>Стадия разработки:</th>
        <th>Место в производственном цикле:</th>
    </tr>
</table>