@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="~/js/news.js"></script>
    <script src="~/js/stats.js"></script>
}

<h2>Новости</h2>
<hr>